{% extends 'base.html.twig' %}

{% block title %}
About Us | {{ parent() }}
{% endblock %}

{% block body %}
<h2>Abous Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eos fuga itaque officia. At consequuntur distinctio nemo repellendus. Ad dignissimos dolor eaque eveniet excepturi iure laboriosam, odio omnis ratione velit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eos fuga itaque officia. At consequuntur distinctio nemo repellendus. Ad dignissimos dolor eaque eveniet excepturi iure laboriosam, odio omnis ratione velit?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eos fuga itaque officia. At consequuntur distinctio nemo repellendus. Ad dignissimos dolor eaque eveniet excepturi iure laboriosam, odio omnis ratione velit?</p>
{% endblock %}

