{% extends 'base.html.twig' %}

{% block title %}
    All wishes | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="wishes-list">
        <h2>All Wishes !</h2>
        {% for wish in wishes %}
            <article>
                <a href="{{ path('app_wish_detail',{id:wish.id}) }}" title="View this wish in details">
                    {{ wish.title }} [{{ wish.category.name }}]
                </a>
            </article>
        {% else %}
            Aucun voeux présent dans la BD.
        {% endfor %}
    </section>
{% endblock %}



